
/* 
 page title 
*/
.page_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 3px solid black;
}
.page_icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.main_title {
  text-transform: capitalize;
}
/* 
main top container styles
*/
.MAIN_top_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
}
.top_container {
  flex-basis: 65%;
  width: 100%;
  height: 500px;
}
.other_4_posts {
  flex-basis: 35%;
  width: 100%;
  height: 500px;
}
/* top 1st blog */
.top_container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  border-radius: 10px;
}
.top_link_container {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(33, 33, 33, 0.02) 24%, #000 97%);
}
.trending_title {
  color: white;
  text-transform: capitalize;
  font-weight: 300;
}
.top_headline {
  color: white;
  font-size: 20px;
  text-transform: capitalize;
  padding-right: 10%;
}
.top_belongs_to {
  color: white;
  font-weight: 550;
}
/* other 4 blogs */
.other_4_posts {
  margin-right: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.four_div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.four_div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.four_blogs {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: background 0.6s ease;
}
.four_blogs:hover {
  background: rgba(245 248 250);
}
.four_link_container {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.four_image {
  width: 105px;
  height: 105px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 5px;
}
.four_belongs {
  color: blue;
  font-size: 13px;
  font-weight: 500;
}
.four_headline {
  color: black;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}
.four_updated {
  color: black;
  font-size: 12px;
  font-weight: 500;
}

/* remaing all blogs */

.remain_main_container {
  width: 100%;
  border-top: 3px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.remain_link_container {
  text-decoration: none;
}
.remain_blogs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid grey;
}
.remain_blogs:hover .remain_image {
  filter: brightness(80%);
}
.remain_blogs:active {
  background-color: rgba(245 248 250);
}
.remain_image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: filter 1s ease;
}
.remain_headline {
  color: black;
  font-size: 16px;
  font-weight: 550;
  text-transform: capitalize;
}
.remain_summary {
  color: grey;
  font-size: 12px;
  font-style: italic;
}
.remain_updated {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-size: 13px;
  font-weight: 500;
}
/* top container for small screens */

@media (max-width: 800px) {
  .page_title {
    width: 85%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid black;
  }
  .MAIN_top_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .top_container {
    flex-basis: auto;
    width: 100%;
    height: 350px;
    margin-bottom: 0px;
    border-radius: 0px;
  }
  .other_4_posts {
    flex-basis: none;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 5px;
  }
  .top_link_container {
    border-radius: 0px;
  }
  .remain_main_container {
    width: 100%;
    border-top: none;
  }
  .remain_blogs {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .remain_updated {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
