<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moviemash | Webstories</title>
    <!-- css links -->
    {% include 'basics.html' %}

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/main_theme.css' %}"
    />
  </head>
  <body class="body">
    {% include 'header.html' %}
    <div class="COMPLETE_MAIN_CONTAINER">
      <!-- page title -->
      <div class="page_title">
        <span class="iconify page_icon" data-icon="ph:television-light"></span>
        <h3 class="main_title">webstories</h3>
      </div>

      <div class="webstories_container">
        <!-- empty now -->
        <h2
          class="empty_webstories"
          style="
            text-align: center;
            margin-top: 10px;
            margin-bottom: 20px;
            padding: 15px;
          "
        >
          sORRY cURRENTLY tHERE aRE nO wEBSTORIES yET....
        </h2>
      </div>

      <!-- discover more div -->
      {% include 'discover.html' %}

      <!-- js for ur in which page -->
      <script class="webstories_page">
        var WEBSTORIES_PAGE_LINK = document.querySelector(
          "#WEBSTORIES_PAGE_LINK"
        );
        var SIDE_WEBSTORIES_PAGE_LINK = document.querySelector(
          "#SIDE_WEBSTORIES_PAGE_LINK"
        );
        WEBSTORIES_PAGE_LINK.style.borderBottom = "3px solid black";
        WEBSTORIES_PAGE_LINK.style.color = "black";
        SIDE_WEBSTORIES_PAGE_LINK.style.background = "black";
        SIDE_WEBSTORIES_PAGE_LINK.style.color = "white";
      </script>
    </div>
  </body>
</html>
